[submodule ".deps/asio"]
	path = .deps/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule ".deps/json"]
	path = .deps/json
	url = https://github.com/nlohmann/json.git
[submodule ".deps/spdlog"]
	path = .deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule ".deps/reflcpp"]
	path = .deps/reflcpp
	url = https://github.com/veselink1/refl-cpp.git
[submodule ".deps/date"]
	path = .deps/date
	url = https://github.com/HowardHinnant/date.git
[submodule ".deps/libpqxx"]
	path = .deps/libpqxx
	url = https://github.com/jtv/libpqxx.git
[submodule "Tools/admin/.deps/libpqxx"]
	path = Tools/admin/.deps/libpqxx
	url = https://github.com/jtv/libpqxx.git
