build/
compile_commands.json
*.swp
.clangd/
.idea/
*.idea
.cache/
CMakeLists.txt.user
.vscode/
cmake-build-debug/
cmake-build-release/
.fleet/
.codelite/
.ctagsd/
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl
# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*
*creator.user*
*.autosave

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib
*.DS_Store
CMakeUserPresets.json
CMakePresets.json
examples/simple_api/cmake_install.cmake
CMakeFiles/