<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    {% include "sidebar" %}

    <div class="p-4 sm:ml-64">
        <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">

            <div class="grid grid-cols-1 gap-4 mb-4">

                <!-- content -->
 
                        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded ">
                            <div class="rounded-t mb-0 px-4 py-3 border-0">
                                <div class="flex flex-wrap items-center">
                                    <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                                        <h3 class="font-semibold text-base text-blueGray-700">{{ model_name }}</h3>
                                    </div>
                                    <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
                                        <a href="/admin/models_add/{{ model_name }}"
                                            class="bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                                            type="button">Add {{ model_name }}</a>
                                    </div>
                                </div>
                            </div>

                            <div class="block w-full overflow-x-auto">
                                <table class="items-center bg-transparent w-full border-collapse ">
                                    <thead>
                                        <tr>
                                            <th
                                                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                                Pk
                                            </th>
                                            <th
                                                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                                #
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for model in model_list %}
                                          {% for field in model.fields %}
                                            {% if field.is_admin_field_identifier %}
                                              {% set myvariable=field.field_value %}
                                            {% endif %}

                                            {% if field.field_type == "primary_key" %}
                                              {% set model_primary_key_value=field.field_value %}
                                            {% endif %}

                                          {% endfor %}
                                        <tr>
                                              <td
                                                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left text-blueGray-700 ">
                                                  {{ model_primary_key_value }}
                                            </td>
                                              <th
                                                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left text-blueGray-700 ">
                                                  <a href='/admin/models_edit/{{ model_name }}/{{ model_primary_key_value }}'>{{ myvariable }}</a>
                                              </th>
                                            
                                        </tr>
                                        {% endfor %}
                                       
                                    </tbody>

                                </table>

                                <ol class="flex gap-1 text-xs font-medium" style="padding: 20px">
                                    <li>
                                      <a
                                        href="#"
                                        class="inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100"
                                      >
                                        <span class="sr-only">Prev Page</span>
                                        <svg
                                          xmlns="http://www.w3.org/2000/svg"
                                          class="h-3 w-3"
                                          viewBox="0 0 20 20"
                                          fill="currentColor"
                                        >
                                          <path
                                            fill-rule="evenodd"
                                            d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                            clip-rule="evenodd"
                                          />
                                        </svg>
                                      </a>
                                    </li>
                                  
                                    <li>
                                      <a
                                        href="#"
                                        class="block h-8 w-8 rounded border border-gray-100 text-center leading-8"
                                      >
                                        1
                                      </a>
                                    </li>
                                  
                                    <li
                                      class="block h-8 w-8 rounded border-blue-600 bg-blue-600 text-center leading-8 text-white"
                                    >
                                      2
                                    </li>
                                  
                                    <li>
                                      <a
                                        href="#"
                                        class="block h-8 w-8 rounded border border-gray-100 text-center leading-8"
                                      >
                                        3
                                      </a>
                                    </li>
                                  
                                    <li>
                                      <a
                                        href="#"
                                        class="block h-8 w-8 rounded border border-gray-100 text-center leading-8"
                                      >
                                        4
                                      </a>
                                    </li>
                                  
                                    <li>
                                      <a
                                        href="#"
                                        class="inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100"
                                      >
                                        <span class="sr-only">Next Page</span>
                                        <svg
                                          xmlns="http://www.w3.org/2000/svg"
                                          class="h-3 w-3"
                                          viewBox="0 0 20 20"
                                          fill="currentColor"
                                        >
                                          <path
                                            fill-rule="evenodd"
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd"
                                          />
                                        </svg>
                                      </a>
                                    </li>
                                  </ol>
                                  

                            </div>
                        </div>
                
       
       

            </div>


        </div>
    </div>

</body>

</html>